body{
    background-color: #1C1A1A !important;
    color: white !important;
}

:root{
     
    --main-color: #2B2B2B;
    --dark-color: #1C1A1A;
    --contrast-color: #69D2CD;
    --differential-color: #E96363;

}

/* Estilos para a barra de navegação */
.navbar {
    margin-bottom: 20px;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: #fff;
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    background-color: #201F1F;
  }
  
  .dropdown-item {
    color: #ff0000;
  }
  
  .dropdown-item:hover {
    background-color: #555;
  }
  
  /* Estilos para o corpo da página */
  .container {
    margin-top: 20px;
  }
  
  /* Estilos para o título da página */
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Estilos para os links */
  a {
    color: #007bff;
  }
  
  a:hover {
    text-decoration: none;
  }
  